body {
	  width: 900px;
	  margin: 0 auto;
	  background-image: url("../img/fundo.png");
	  padding: 0 20px 10px 20px;
	  border: 0px solid #f5c91c;
}
button{
	height: 30px;
	border: 2px solid #f5c91c;
	width: 90px;
	background-color: white;
	color: black;
}
button:hover{
	background-color: black;
	color: white;
}
a {
	text-decoration: none;
	color: black;
}
table {
	background-color: white;
}
* {
	font-family:"star_jedi/starjout/Starjout"; color: #f5c91c;
}
td {
	color: black;
}
input {
	color: black;
}