* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 1px solid black;
    width: 50%;
}

.modelo {
    visibility: hidden;
    display: none;
}

p {
    font-size: 40px;
}

button {
    cursor: pointer;
    border-radius: 12px;
    width: 10%;
    height: 30px;
}
button:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}
tr {
    text-align: center;
    border:1px solid black;
}
td {
    text-align: center;
    border:1px solid black;
}