*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(41, 180, 223, 0.856);
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 182, 204);
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}
.card-post {
    height: 150;
    width: 100%;
    border: solid 1px;
    display: flex   ;
    flex-direction: column;
    background-color: rgb(75, 211, 230);
}
.model {
    visibility: hidden;
    display: none;
}